out_overlays/
out_overlays2/
out_overlays3/
out_overlays4/
out_overlays5/
out_overlays6/
out_overlays7/
out_tri_scan/
out_tri_scan2/
out_tri_scan3/
frames/
live_run/
out_live_overlays/
replays/
pillars/
frames_plus/
frames_plus2/
frames2/
top_bot/